image: docker:latest

# When using dind, it's wise to use the overlayfs driver for
# improved performance.
variables:
  DOCKER_DRIVER: overlay

services:
- docker:dind

before_script:
- docker info

build:
  stage: build
  script:
    - docker build -t ostrich .

test_all:
  script:
    - docker run ostrich /opt/patchstore/build/tpfpatch_store_test
